body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.Topsection {
  overflow: hidden;
}
.curved {
  width: 100%;
  height: 34rem;
  background-image: url("w2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
  font-family: "Varela Round", sans-serif;
}
.curved h1 {
  margin-top: 0;
  position: relative;
  top: 7rem;
}
.curved p {
  margin: 0 5rem 0 5rem;
  position: relative;
  top: 7rem;
}
.curved svg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.curved form input {
  width: 20rem;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  position: relative;
  top: 10rem;
  background: transparent;
}
/* .MuiInputBase-input {
  height: 10rem;
  position: relative;
  top: 100px;
} */
